/* ./src/index.css o ./src/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Definir la animación de vibración */
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

/* Clase para aplicar la animación */
.input-shake {
  animation: shake 0.3s ease-in-out;
}


.fondo-imagen {
  background-image: url('../public/formulario-real.png');
  background-repeat: no-repeat;
  background-size: cover;
}